:root {
    --line-color: #ffb547;
    --main-bg-color: #1B1818;
    --header-bt: #FCFF54;
    --block-content: #f5f5ee;
    --button-team: #f5f5eece;
    --team-bg-color: #FCFF54;
    --gradient-color: linear-gradient(to left, #FBFF40, #f6fa27);
}